<?xml version="1.0" encoding="GB2312"?>

<KIOSKIntegration>
  <RISDB>
    <!--MSSQL MYSQL ORACLE DB2-->
    <DBType>MSSQL</DBType>
    <DriverType>SQLOLEDB</DriverType>
    <DBServer>localhost\gcpacsws</DBServer>
    <DBName>WGGC</DBName>
    <DBUserName>sa</DBUserName>
    <DBPassword>sa20021224$</DBPassword>
    <DBPort>0</DBPort>
    <UseLinkedServer>True</UseLinkedServer>
    <LinkedServer>
      <DBType>MSSQL</DBType>
      <DriverType>
      </DriverType>
      <DBServer>localhost\gcpacsws</DBServer>
      <DBName>localhost\gcpacsws</DBName>
      <DBPort>0</DBPort>
      <DBUserName>sa</DBUserName>
      <DBPassword>sa20021224$</DBPassword>
      <ProviderString>
      </ProviderString>
    </LinkedServer>
    <ProviderString>
    </ProviderString>
  </RISDB>

  <PSDB>
    <DBServer>localhost\gcpacsws</DBServer>
    <DBName>WGGC</DBName>
    <DBUserName>sa</DBUserName>
    <DBPassword>sa20021224$</DBPassword>
  </PSDB>

  <MWL>
    <!-- MWLEnabled: 0-UnEnabled / 1-Enabled -->
    <Enabled>0</Enabled>
    <Node>10.1.6.18</Node>
    <Port>3320</Port>
    <CalledAE>CZWPCM01</CalledAE>
    <CallingAE>KONE</CallingAE>
  </MWL>

  <InboundServiceRISReportPDFGenerator>
    <Log>
      <LogFilePath>E:\KIOSK.Integration.PDF\Log\InboundServiceRISReportPDFGenerator</LogFilePath>
      <!-- debug common warning error -->
      <LogLevel>error</LogLevel>
      <!-- LogFileKeepTime: Day -->
      <LogFileKeepTime>2</LogFileKeepTime>
    </Log>
    <ServiceName>KIOSK.Integration.InboundService.RISReport.PDFGenerator</ServiceName>
    <ServiceDescription>KIOSK.Integration.InboundService.RISReport.PDFGenerator For Create PDF RIS Report.</ServiceDescription>
    <!-- ServiceWatchTime: second -->
    <ServiceWatchTime>300</ServiceWatchTime>
    <ServiceBeginTime>00:00</ServiceBeginTime>
    <ServiceEndTime>23:59</ServiceEndTime>
  </InboundServiceRISReportPDFGenerator>

  <InboundServiceMWLSCU>
    <Log>
      <LogFilePath>E:\KIOSK.Integration.PDF\Log\InboundServiceMWLSCU</LogFilePath>
      <!-- debug common warning error -->
      <LogLevel>error</LogLevel>
      <!-- LogFileKeepTime: Day -->
      <LogFileKeepTime>2</LogFileKeepTime>
    </Log>
    <ServiceName>KIOSK.Integration.InboundService.MWL.SCU</ServiceName>
    <ServiceDescription>KIOSK.Integration.InboundService.MWL.SCU For GET RIS Patient ExamInfo.</ServiceDescription>
    <!-- ServiceWatchTime: second -->
    <ServiceWatchTime>300</ServiceWatchTime>
    <ServiceBeginTime>00:00</ServiceBeginTime>
    <ServiceEndTime>23:59</ServiceEndTime>
    <Modality>CT</Modality>
    <!-- StudyTimeSpan: Hour, 0:do not check, scope:0-24.-->
    <StudyTimeSpan>2</StudyTimeSpan>
  </InboundServiceMWLSCU>

  <WSProxy>
    <Log>
      <LogFilePath>E:\KIOSK.Integration.PDF\Log\WSProxy</LogFilePath>
      <!-- debug common warning error -->
      <LogLevel>debug</LogLevel>
      <!-- LogFileKeepTime: Day -->
      <LogFileKeepTime>2</LogFileKeepTime>
    </Log>
   
    <!--Swing card or bardcode to get exam info 0/disable 1 enable.Note:Value 0, Only for KIOSK.Integration.Swing  -->
    <SwingGetExamInfo>1</SwingGetExamInfo>

	<!-- Query interval type 0/memory 1/database.if value doesn't equal 0 and 1,Query Interval function is disabled -->
    <QueryIntervalType>0</QueryIntervalType>
	
    <!-- Query interval time about getting exam info from RIS. Unit: Second -->
    <QueryInterval>120</QueryInterval>

    <!-- Swing card or bardcode to get report before getting patient information 0/disable 1 enable -->
    <SwingGetReportBefore>0</SwingGetReportBefore>    

    <!-- Swing card or bardcode to get report 0/disable 1 enable -->
    <SwingGetReport>0</SwingGetReport>

    <!-- 0: Ris Notify 1: GCRIS Notify 2: WS Notify-->
    <GetReportType>0</GetReportType>

    <!-- Get report from share folder 0: disable; 1: enable -->
    <GetReportFromShareFolder>0</GetReportFromShareFolder>

    <!-- Report type 0: PDF; 1: JPG; 2: HTTP -->
    <ReportType>0</ReportType>

    <!-- Service 0: PrintService; 1: NotifyService -->
    <SelectService>0</SelectService>

    <PDFFTPPath>ftp://127.0.0.1</PDFFTPPath>
    <PDFPhysicPath>E:\KIOSK.Integration.PDF\RISReport</PDFPhysicPath>

    <XSLTPathForQueryExamInfo>E:\KIOSK.Integration.PDF\KIOSK.Integration.ExamInfo.Query.xslt</XSLTPathForQueryExamInfo>
    <XSLTPathForUpdateExamInfo>E:\KIOSK.Integration.PDF\KIOSK.Integration.ExamInfo.Query.xslt</XSLTPathForUpdateExamInfo>

    <WSURL>
      <PS>http://127.0.0.1/PrintServer/PrintService.asmx</PS>
      <NS>http://127.0.0.1/NotifyServer/NotifyService.asmx</NS>
      <RISExamInfo>http://127.0.0.1/PrintServer/PrintService.asmx</RISExamInfo>
      <RISPDFReportInfo>http://127.0.0.1/PrintServer/PrintService.asmx</RISPDFReportInfo>
      <RISOtherInfo>http://127.0.0.1/PrintServer/PrintService.asmx</RISOtherInfo>
    </WSURL>

    <RISDB>
      <SQLForGetRISReportInfo>exec sp_Integration_GetReportInfoFromRis @PatientID,@PatientName,@AccessionNumber,@Modality,@ReportID,@ReportStatus,@OutputInfo output,@OutReport output</SQLForGetRISReportInfo>
      <SQLForSetRISReportInfo>exec sp_KIOSK_SetReportInfo @PatientID,@AccessionNumber,@ReportID,@PDFReportPath,@OutputInfo output</SQLForSetRISReportInfo>
      <SQLForGetRISExamInfo>exec sp_Integration_GetExamInfo @PatientID,@PatientName,@AccessionNumber,@Modality,@StartDT,@EndDT,@OutputInfo output</SQLForGetRISExamInfo>
      <SQLForGetRISExamInfoEx>exec sp_Integration_GetExamInfoEx @QueryParam,@OutputInfo output</SQLForGetRISExamInfoEx>
      <SQLForGetUnPrintedStudy>exec sp_Integration_GetUnPrintedStudy @TerminalInfo,@CardType,@CardNumber,@OutputInfo output</SQLForGetUnPrintedStudy> 
    </RISDB>

    <PSDB>
      <SQLForSetPSExamInfo>exec sp_Integration_SetExamInfo @PatientID,@AccessionNumber,@StudyInstanceUID,@NameEN,@NameCN,@Gender,@Birthday,@Modality,@ModalityName,@PatientType,@VisitID,@RequestID,@RequestDepartment,@RequestDT,@RegisterDT,@ExamDT,@SubmitDT,@ApproveDT,@PDFReportURL,@StudyStatus,@ReportStatus,@PDFFlag,@VerifyFilmFlag,@VerifyReportFlag,@FilmStoredFlag,@ReportStoredFlag,@NotifyReportFlag,@SetPrintModeFlag,@FilmPrintFlag,@FilmPrintDoctor,@ReportPrintFlag,@ReportPrintDoctor,@OutHospitalNo,@InHospitalNo,@PhysicalNumber,@ExamName,@ExamBodyPart,@Optional0,@Optional1,@Optional2,@Optional3,@Optional4,@Optional5,@Optional6,@Optional7,@Optional8,@Optional9,@OutputInfo output</SQLForSetPSExamInfo>
      <SQLForGetPSExamInfo>exec sp_Integration_GetExamInfoSwing @PatientID,@PatientName,@AccessionNumber,@Modality,@StartDT,@EndDT,@OutputInfo output</SQLForGetPSExamInfo>
      <SQLForGetPSReportInfo>exec sp_Integration_GetReportInfo @OutputInfo output</SQLForGetPSReportInfo>
      <SQLForGetPSPrintMode>exec sp_Integration_GetPrintMode @AccessionNumber,@StudyInstanceUID,@OutputInfo output</SQLForGetPSPrintMode>
      <SQLForGetPSPatientInfo>exec sp_Integration_GetPatientInfo @TerminalInfo,@PatientIDType,@PatientID,@ReturnType,@OutputInfo output</SQLForGetPSPatientInfo>
      <SQLForUpdateReportStatus>exec sp_Integration_GetPatientInfo @TerminalInfo,@PatientIDType,@PatientID,@ReturnType,@OutputInfo output</SQLForUpdateReportStatus>
      <SQLForSetPrintMode>exec sp_Integration_SetPrintMode @AccessionNumber,@PrintMode output,@OutputInfo output</SQLForSetPrintMode>
	  <SQLForQueryParam>exec sp_Integration_QueryParam @Param,@QueryInterval,@ParamCount output,@OutputInfo output</SQLForQueryParam>
	  <SQLForSaveParam>exec sp_Integration_SaveParam @RecognizeParam,@OutputInfo output</SQLForSaveParam>
    </PSDB>
  </WSProxy>
</KIOSKIntegration>