<?xml version="1.0" encoding="GB2312"?>

<KIOSKIntegration>
  <RISDB>
    <!--MSSQL MYSQL ORACLE DB2-->
    <DBType>MSSQL</DBType>
    <DBServer>localhost\GCPACSWS</DBServer>
    <DBName>WGGC</DBName>
    <DBUserName>sa</DBUserName>
    <DBPassword>sa20021224$</DBPassword>
  </RISDB>

  <PSDB>
    <DBServer>localhost\GCPACSWS</DBServer>
    <DBName>WGGC</DBName>
    <DBUserName>sa</DBUserName>
    <DBPassword>sa20021224$</DBPassword>
  </PSDB>

  <MWL>
    <!-- MWLEnabled: 0-UnEnabled / 1-Enabled -->
    <Enabled>0</Enabled>
    <Node>10.1.6.18</Node>
    <Port>3320</Port>
    <CalledAE>CZWPCM01</CalledAE>
    <CallingAE>KONE</CallingAE>
  </MWL>

  <InboundServiceRISReportPDFGenerator>
    <Log>
      <LogFilePath>E:\KIOSK.Integration\Log\InboundServiceRISReportPDFGenerator</LogFilePath>
      <!-- debug common warning error -->
      <LogLevel>debug</LogLevel>
      <!-- LogFileKeepTime: Day -->
      <LogFileKeepTime>2</LogFileKeepTime>
    </Log>

    <ServiceName>KIOSK.Integration.InboundService.RISReport.PDFGenerator</ServiceName>
    <ServiceDescription>KIOSK.Integration.InboundService.RISReport.PDFGenerator For Create PDF RIS Report.</ServiceDescription>
    <!-- ServiceWatchTime: second -->
    <ServiceWatchTime>5</ServiceWatchTime>
    <ServiceBeginTime>00:00</ServiceBeginTime>
    <ServiceEndTime>23:59</ServiceEndTime>
  </InboundServiceRISReportPDFGenerator>

  <InboundServiceMWLSCU>
    <Log>
      <LogFilePath>E:\KIOSK.Integration\Log\InboundServiceMWLSCU</LogFilePath>
      <!-- debug common warning error -->
      <LogLevel>debug</LogLevel>
      <!-- LogFileKeepTime: Day -->
      <LogFileKeepTime>2</LogFileKeepTime>
    </Log>

    <ServiceName>KIOSK.Integration.InboundService.MWL.SCU</ServiceName>
    <ServiceDescription>KIOSK.Integration.InboundService.MWL.SCU For GET RIS Patient ExamInfo.</ServiceDescription>
    <!-- ServiceWatchTime: second -->
    <ServiceWatchTime>300</ServiceWatchTime>
    <ServiceBeginTime>00:00</ServiceBeginTime>
    <ServiceEndTime>23:59</ServiceEndTime>
    <Modality>CT</Modality>
    <!-- StudyTimeSpan: Hour, 0:do not check, scope:0-24.-->
    <StudyTimeSpan>2</StudyTimeSpan>
  </InboundServiceMWLSCU>

  <WSProxy>
    <Log>
      <LogFilePath>E:\KIOSK.Integration\Log\WSProxy</LogFilePath>
      <!-- debug common warning error -->
      <LogLevel>debug</LogLevel>
      <!-- LogFileKeepTime: Day -->
      <LogFileKeepTime>7</LogFileKeepTime>
    </Log>
    <!-- Query RIS Integration view time span: seceond.-->
    <QueryTimeSpan>120</QueryTimeSpan>
    <!-- Swing card or bardcode to get report 0/disable 1 enable -->
    <SwingGetReport>0</SwingGetReport>

    <XSLTPathForQueryExamInfo>E:\KIOSK.Integration\KIOSK.Integration.ExamInfo.Query.xslt</XSLTPathForQueryExamInfo>
    <XSLTPathForUpdateExamInfo>E:\KIOSK.Integration\KIOSK.Integration.ExamInfo.Query.xslt</XSLTPathForUpdateExamInfo>
    <PDFPhysicPath>E:\KIOSK.Integration\RISReport</PDFPhysicPath>
    <PDFFTPPath>ftp://127.0.0.1</PDFFTPPath>
	<!-- 0: Ris Notify 1: GCRIS Notify 2: WS Notify-->
	<GetReportType>0</GetReportType>
    <WSURL>
      <PS>http://localhost/PrintServer/PrintService.asmx</PS>
      <PSEx>http://localhost/NotifyServer/NotifyService.asmx</PSEx>
      <RISExamInfo>http://192.168.99.65:8080/integration_web/services/GEDataServices?wsdl</RISExamInfo>
      <RISPDFReportInfo>http://192.168.99.65:8080/integration_web/services/GEDataServices?wsdl</RISPDFReportInfo>
      <RISOtherInfo>http://192.168.99.65:8080/integration_web/services/GEDataServices?wsdl</RISOtherInfo>
    </WSURL>

    <RISDB>
      <SQLForGetRISReportInfo>exec sp_Integration_GetReportInfo_MulReport @PatientID,@PatientName,@AccessionNumber,@Modality,@ReportID,@ReportStatus,@OutputInfo output,@OutReport output</SQLForGetRISReportInfo>
      <SQLForSetRISReportInfo>exec sp_KIOSK_SetReportInfo @PatientID,@AccessionNumber,@ReportID,@PDFReportPath,@OutputInfo output</SQLForSetRISReportInfo>
      <SQLForGetRISExamInfo>exec sp_Integration_GetExamInfo @PatientID,@PatientName,@AccessionNumber,@Modality,@StartDT,@EndDT,@OutputInfo output</SQLForGetRISExamInfo>
      <SQLForGetRISExamInfoEx>exec sp_Integration_GetExamInfoEx @QueryParam,@OutputInfo output</SQLForGetRISExamInfoEx>
    </RISDB>

    <PSDB>
      <SQLForSetPSExamInfo>exec sp_Integration_SetExamInfo @PatientID,@AccessionNumber,@StudyInstanceUID,@NameEN,@NameCN,@Gender,@Birthday,@Modality,@ModalityName,@PatientType,@VisitID,@RequestID,@RequestDepartment,@RequestDT,@RegisterDT,@ExamDT,@SubmitDT,@ApproveDT,@PDFReportURL,@StudyStatus,@ReportStatus,@PDFFlag,@VerifyFilmFlag,@VerifyReportFlag,@FilmStoredFlag,@ReportStoredFlag,@NotifyReportFlag,@SetPrintModeFlag,@FilmPrintFlag,@FilmPrintDoctor,@ReportPrintFlag,@ReportPrintDoctor,@OutHospitalNo,@InHospitalNo,@PhysicalNumber,@ExamName,@ExamBodyPart,@Optional0,@Optional1,@Optional2,@Optional3,@Optional4,@Optional5,@Optional6,@Optional7,@Optional8,@Optional9,@OutputInfo output</SQLForSetPSExamInfo>
      <SQLForGetPSExamInfo>exec sp_Integration_GetExamInfo @PatientID,@PatientName,@AccessionNumber,@Modality,@StartDT,@EndDT,@OutputInfo output</SQLForGetPSExamInfo>
      <SQLForGetPSReportInfo>exec sp_Integration_GetReportInfo @OutputInfo output</SQLForGetPSReportInfo>
      <SQLForGetPSPrintMode>exec sp_Integration_GetPrintMode @AccessionNumber,@StudyInstanceUID,@OutputInfo output</SQLForGetPSPrintMode>
      <SQLForGetPSPatientInfo>exec sp_Integration_GetPatientInfo @TerminalInfo,@PatientIDType,@PatientID,@ReturnType,@OutputInfo output</SQLForGetPSPatientInfo>
      <SQLForUpdateReportStatus>exec sp_Integration_ClearReport @PatientID,@AccessionNumber,@OutputInfo output</SQLForUpdateReportStatus>
      <SQLForGetUnprintExamInfo>exec sp_Integration_GetunPrintFilmExam @CardType,@CardNumber,@PrintLevel</SQLForGetUnprintExamInfo>
    </PSDB>
  </WSProxy>
</KIOSKIntegration>